@import "../Sass/utils/vars.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  box-sizing: border-box;
  /* outline: 5px solid limegreen !important; */
}

.section {
  margin: 94px 0;
  width: 100%;
}
ul {
  list-style-type: none;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

// page hader

.page-header {
  background-color: $white;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: $fontWeight;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $blue;
  &-web {
    color: rgba(0, 0, 0, 1);
  }
}

// nav bar

.navigation-bar {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-around;
}

@mixin bottom-line-border {
  border-bottom: 4px solid $blue;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -32px;
  left: 0;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav-link {
  color: $black;
  text-decoration: none;
  padding: 0 25px;
  size: 14px;
  line-height: 16px;
  initial-letter-align: 2%;
  font-weight: 500;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
  &:hover:after {
    content: "";
    @include bottom-line-border;
  }
}

.portfolio:hover::after {
  content: "";
  @include bottom-line-border;
}

// contact header section

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 10px;

  &-item {
    justify-content: center;
    align-items: center;
  }

  &-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
}

.contact-section-value {
  color: $gray;
  padding: 5px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}

.big-section {
  padding: 200px 0;
  text-align: center;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(13, 13, 13, 0.52),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);

  h1 {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
    color: $white;
    text-align: center;
  }
  .button {
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .request-button:hover,
  .request-button:focus,
  .request-button:active {
    background-color: $lightgrey;
    color: $blue;
  }
}

//skills section
@mixin skill-container {
  width: 1170px;
}

.container {
  @include skill-container;
}
.skills-section {
  @include skill-container;

  &-list {
    display: flex;
    gap: 30px;
    padding: 0;
  }

  &-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    max-width: 270px;
    max-height: 120px;
  }

  &-title {
    font-weight: $fontWeight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &-subtitle {
    color: $gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

// section What we to do
.workTitle {
  font-weight: $fontWeight;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: $black;
  text-align: center;
  margin-bottom: 90px;
}

.work-section-items {
  display: flex;
  justify-content: space-around;
  padding-left: 0 215px;
}

.box {
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &-bottom {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 3px;
    background: rgba(47, 48, 58, 0.8);
    color: $white;
    padding: 27px;

    & p {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font-weight: $fontWeight;
    }
  }
}

//team section

.team-section {
  background: var(--lightgrey);
  display: flex;
  justify-content: center;
  max-width: 1600px;

  .container {
    padding: 94px 0;
    flex-direction: column;
    gap: 50px;
  }
}

.our-team {
  font-weight: $fontWeight;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black;
  margin-bottom: 50px;

  &-section {
    display: flex;
    justify-content: space-around;
  }
}

.team {
  background-color: $white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 260px;
  height: 260px;

  &-container-name {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    &-post {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $gray;
      margin-bottom: 30px;
    }
  }
}

.team-link {
  color: $gray;
  left: 25px;
  bottom: 10px;
}
@mixin color {
  color: $gray;
}

.photo-container-post {
  @include color;
}

.social-link {
  @include color;
}

.social-icons-list {
  display: flex;
  gap: 10px;

  .social-icons {
    width: 20px;
    height: 20px;
    fill: grey;
  }

  .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    color: $white;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include color;
    &:hover,
    &:focus,
    &:active {
      fill: $grey;
      background-color: $blue;
    }
  }
}
