@import "../Sass/utils/vars.scss";

html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  box-sizing: border-box;
  /* outline: 5px solid limegreen !important; */
}

.section {
  margin: 94px 0;
  width: 100%;
}
ul {
  list-style-type: none;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

// page hader

.page-header {
  background-color: $white;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: $fontWeight;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $blue;
  &-web {
    color: rgba(0, 0, 0, 1);
  }
}

// nav bar

.navigation-bar {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-around;
}

@mixin bottom-line-border {
  border-bottom: 4px solid $blue;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -32px;
  left: 0;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav-link {
  color: $black;
  text-decoration: none;
  padding: 0 25px;
  size: 14px;
  line-height: 16px;
  initial-letter-align: 2%;
  font-weight: 500;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
  &:hover:after {
    content: "";
    @include bottom-line-border;
  }
}

.portfolio:hover::after {
  content: "";
  @include bottom-line-border;
}

// contact header section

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 10px;

  &-item {
    justify-content: center;
    align-items: center;
  }

  &-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
}

.contact-section-value {
  color: $gray;
  padding: 5px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}

.big-section {
  padding: 200px 0;
  text-align: center;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(13, 13, 13, 0.52),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);

  h1 {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
    color: $white;
    text-align: center;
  }
  .button {
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .request-button:hover,
  .request-button:focus,
  .request-button:active {
    background-color: $lightgray;
    color: $blue;
  }
}

//skills section
@mixin skill-container {
  width: 1170px;
}

.skills-section {
  .container {
    @include skill-container;
  }

  .container &-list {
    display: flex;
    gap: 30px;
    padding: 0;
  }

  &-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    max-width: 270px;
    max-height: 120px;
  }

  &-title {
    font-weight: $fontWeight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &-subtitle {
    color: $gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

// section What we to do
.workTitle {
  font-weight: $fontWeight;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: $black;
  text-align: center;
  margin-bottom: 90px;
}

.work-section-items {
  display: flex;
  justify-content: space-around;
  padding-left: 0 215px;
}

.box {
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &-bottom {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 3px;
    background: rgba(47, 48, 58, 0.8);
    color: $white;
    padding: 27px;

    & p {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font-weight: $fontWeight;
    }
  }
}

//team section

.team-section {
  background: $lightgray;
  display: flex;
  justify-content: center;

  .container {
    padding: 94px 0;
    flex-direction: column;
    gap: 50px;
  }
}

.our-team {
  font-weight: $fontWeight;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black;
  margin-bottom: 50px;

  &-section {
    display: flex;
    justify-content: space-around;
  }
}

.team {
  background-color: $white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 260px;
  height: 260px;

  &-container-name {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 3px;

    &-post {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $gray;
      margin-bottom: 30px;
    }
  }
}

.team-link {
  color: $gray;
  left: 25px;
  bottom: 10px;
}
@mixin color {
  color: $gray;
}

.photo-container-post {
  @include color;
  padding: 5px;
}

.social-icons-list {
  display: flex;
  gap: 10px;
  padding: 2px;
}

.social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $blue;
  }

  .social-icons {
    width: 20px;
    height: 20px;
    fill: currentColor;
    &:hover,
    &:focus,
    &:active {
      fill: currentColor;
    }
  }
}

.customers-section {
  display: flex;
  justify-content: center;
}

.customers {
  width: 1170px;
  height: 184px;

  &-logo {
    display: flex;
    gap: 30px;
    color: #afb1b8;

    &-icon {
      width: 100px;
      height: 47px;
      fill: currentColor;
    }
  }
}

.customer-logo-item {
  background-color: $white;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    border-color: $blue;
    color: $blue;
  }
}

.customer-section {
  font-weight: $fontWeight;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black;
  padding-bottom: 50px;
}

// footer section

.subsol {
  background: $footerBg;
  padding-top: 60px;
  padding-bottom: 30px;

  .footer-direction {
    display: flex;
    align-items: center;
    margin-left: 215px;
  }
}

.footer-social-icons {
  display: flex;
  flex-direction: column;
  margin-left: 10%;

  .social-icons-list {
    margin-left: -10px;
    fill: $white;
  }
  .social-icons {
    fill: $white;
  }
}

.find-us-p {
  font-style: normal;
  font-weight: $fontWeight;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  padding-bottom: 25px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: $fontWeight;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $blue;
  margin-bottom: 25px;

  &-web {
    color: $white;
  }
}

.nv-items-footer {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}

.footerAddres {
  color: $white;
  cursor: pointer;
  display: inline;
}

.foot-logo-contacts {
  margin-left: 130px;
}

.footer-logo-icons {
  display: flex;
  justify-content: center;
}

.subscribe {
  color: $white;
  background-color: $footerBg;
  font-family: inherit;
  font-weight: $fontWeight;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid $borderColor;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  flex: 1 0 40%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #188ce8;
  }

  .social-icons {
    width: 20px;
    height: 20px;
  }
}

.subscribe-container {
  margin-left: 92px;
  .subscribe-title {
    font-weight: $fontWeight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $white;
    padding: 15px 0 20px 0;
    text-transform: uppercase;
  }
}

.subscribe-form {
  display: flex;
  gap: 12px;

  input {
    flex: 1 0 40%;
    min-width: 358px;
    background-color: transparent;
    border: 1px solid $borderColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
  }
  & input:focus {
    border-color: 1px solid $footerBg;
  }
}

//modal section
.modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}
.inner-modal {
  width: 528px;
  height: 581px;
  background-color: $white;
  position: relative;
}

.close-modal {
  background-color: $white;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  float: right;
  position: relative;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  .close-btn {
    fill: $black;
    width: 22px;
    height: 22px;
    cursor: pointer;

    &:active {
      fill: $blue;
    }
  }
}

.inner-form {
  padding: 40px;
  display: flex;
  flex-direction: column;

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    margin-top: 40px;
  }
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;

  .button {
    background-color: $blue;
    color: #ffffff;
    border-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    height: 50px;
    align-self: center;
    font-family: inherit;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .button:focus,
  &.button:active,
  & .button:hover {
    background-color: $blue;
  }

  &-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.row {
  color: $gray;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
  input {
    padding: 14px 43px;
    max-height: 40px;
  }

  &:focus-within {
    border-color: $blue;
    fill: $blue;
  }
}
.row input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: none;
  color: gray;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  cursor: pointer;
}
.info-box input:focus,
textarea:focus {
  outline: 1px solid blue;
}

.info-box textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;

  & textarea:focus::placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
}

.row:focus-within .info-box-icon {
  fill: $blue;
}

/* check-box input */

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $gray;
  }
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &:checked ~ .checkmark {
    background-color: $blue;
    border: none;
    border-radius: 2px;
  }

  &:checked ~ .checkmark:after {
    display: block;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 14px;
  height: 15px;
  width: 16px;
  border: 1px solid $black;
  background-color: $white;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 3.5px;
  bottom: 1.5px;
  width: 8px;
  height: 15px;
  border: solid $white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.term {
  color: $blue;
}

// porfolio
