html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

* {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  box-sizing: border-box;
  /* outline: 5px solid limegreen !important; */
}

.section {
  margin: 94px 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgb(33, 150, 243);
}
.logo-web {
  color: rgb(0, 0, 0);
}

.navigation-bar {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-around;
}

.main-nav-link {
  color: #212121;
  text-decoration: none;
  padding: 0 25px;
  size: 14px;
  line-height: 16px;
  initial-letter-align: 2%;
  font-weight: 500;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav-link:hover, .main-nav-link:focus, .main-nav-link:active {
  color: rgb(33, 150, 243);
}
.main-nav-link:hover:after {
  content: "";
  border-bottom: 4px solid rgb(33, 150, 243);
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -32px;
  left: 0;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover::after {
  content: "";
  border-bottom: 4px solid rgb(33, 150, 243);
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -32px;
  left: 0;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 10px;
}
.contact-list-item {
  justify-content: center;
  align-items: center;
}
.contact-list-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.contact-section-value {
  color: #757575;
  padding: 5px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-section-value:hover, .contact-section-value:focus, .contact-section-value:active {
  color: rgb(33, 150, 243);
}

.big-section {
  padding: 200px 0;
  text-align: center;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0.52), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
}
.big-section h1 {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
.big-section .button {
  background-color: rgb(33, 150, 243);
  color: #ffffff;
  border: 1px solid rgb(33, 150, 243);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.big-section .request-button:hover,
.big-section .request-button:focus,
.big-section .request-button:active {
  background-color: #f5f4fa;
  color: rgb(33, 150, 243);
}

.container {
  width: 1170px;
}

.skills-section {
  width: 1170px;
}
.skills-section-list {
  display: flex;
  gap: 30px;
  padding: 0;
}
.skills-section-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 270px;
  max-height: 120px;
}
.skills-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.skills-section-subtitle {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.workTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 90px;
}

.work-section-items {
  display: flex;
  justify-content: space-around;
  padding-left: 0 215px;
}

.box {
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-bottom {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 3px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  padding: 27px;
}
.box-bottom p {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.team-section {
  background: var(--lightgrey);
  display: flex;
  justify-content: center;
  max-width: 1600px;
}
.team-section .container {
  padding: 94px 0;
  flex-direction: column;
  gap: 50px;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.our-team-section {
  display: flex;
  justify-content: space-around;
}

.team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 260px;
  height: 260px;
}
.photo-container-name {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.photo-container-name-post {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.team-link {
  color: #757575;
  left: 25px;
  bottom: 10px;
}

.photo-container-post {
  color: #757575;
}

.social-link {
  color: #757575;
}

.social-icons-list {
  display: flex;
  gap: 10px;
}
.social-icons-list .social-icons {
  width: 20px;
  height: 20px;
  fill: #f5f4fa;
}
.social-icons-list .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.social-icons-list .social-link:hover, .social-icons-list .social-link:focus, .social-icons-list .social-link:active {
  fill: #ffffff;
  background-color: rgb(33, 150, 243);
}/*# sourceMappingURL=main.css.map */